section[data-bespoke-hash=intro]::before {
  background: url("../img/tumblr_lgb02mCfLm1qe0eclo1_r5_500.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=who-am-i]::before {
/*background: url('https://dl.dropboxusercontent.com/u/1456226/photos/ZOE_0001_01.gif') no-repeat center center fixed*/
  background: url("../img/ZOE_0103_01.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=what-is-appium]::before {
  background: url("../img/tumblr_mg4613lq8o1s14nvmo1_400.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=why-automated-testing]::before {
  background: url("../img/tumblr_lc19wgcB4i1qe0eclo1_r7_500.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=ok-but-why-appium]::before {
  background: url("../img/tumblr_m7al801bzT1r45gwao1_500.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=what-can-we-automate]::before {
  background: url("../img/tumblr_lpza6vl5wX1qe0eclo1_r12_500.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=selenium-json-wire-protocol]::before {
  background: url("../img/tumblr_lo6lxsc0pP1qe0eclo1_r13_500.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=hybrid-specific-info]::before {
  background: url("../img/tumblr_mwnac0p3BJ1skte52o1_500.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=test-using-js]::before {
  background: url("../img/tumblr_m8kea5pfjK1qg39ewo1_500.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=getting-started]::before {
  background: url("../img/306f.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=our-first-test]::before {
  background: url("../img/tumblr_m2ix4j7cVT1qghl49o1_r1_500.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=demo1]::before {
  background: url("../img/tumblr_mqxv5j7Oyq1rtvb79o1_500.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=something-a-bit-more-useful]::before {
  background: url("../img/giphy.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=demo2]::before {
  background: url("../img/tumblr_me14djypG21qfr6udo1_500.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=some-helpful-libraries]::before {
  background: url("../img/1274393461336.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=adding-to-your-workflow]::before {
  background: url("../img/tumblr_mxsj7e6dGL1qc8bz2o1_500.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=big-demo]::before {
  background: url("../img/ku-xlarge.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
section[data-bespoke-hash=thanks]::before {
  background: url("http://31.media.tumblr.com/tumblr_lai4k4a9wG1qe0eclo1_r2_500.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
